body {
  font-size: 16px;
  color: #fff;
  text-align: justify;
  background-image: url(https://i.pinimg.com/564x/bd/ab/15/bdab153d726cb518b6c4851ff1b1ffcf.jpg);
  font-family: 'Playfair Display', serif;
}
#header-nav {
  background-color: #ed9121;
  border-radius: 0;
  border: 0;
  padding: 10px;
}
.navbar-brand h1 {
  color: #fde910;
  font-size: 200%;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}.container {
  margin-left: 0;
  padding-left: 15px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fde910;
  text-align: center;
}
#nav-list a:hover {
  background: #fff;
  width: fit-content;
  transform: scale(1.3);
  margin: auto;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fde910;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list, .backtotop {
  display: none;
}
@media (max-width: 767px) {
  #nav-list, #section2 .backtotop, #section1 .backtotop {
    display: block;
  }
}
@media (max-width: 991px) {
  #section3 .backtotop {
    display: block;
  }
}
h2, h3 {
  text-align: Center;
  margin-bottom: 15px;
}
.box {
  background-color: #964b00;
  position: relative;
  border: 1px solid black;
  margin-top: 15px; 
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
}
p {
  padding: 10px;
}
.backtotop a{
  text-decoration: none;
  color: #fde910;
  float: right;
  margin-bottom: 30;
}
.backtotop a:hover {
  background: #000000;
  width: fit-content;
  transform: scale(1.2);
  margin: auto;
}
#section3 {
  margin-bottom: 200px;
}